<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Twój Kod Weryfikacyjny 2FA</title>
</head>
<body>
    <p>Witaj,</p>
    <p>Otrzymałeś ten e-mail, ponieważ na Twoim koncie została aktywowana weryfikacja dwuetapowa (2FA).</p>
    <p>Twój kod weryfikacyjny to:</p>
    <p><strong>{{ code }}</strong></p>
    <p>Prosimy wprowadzić ten kod w aplikacji, aby kontynuować proces logowania. Kod jest ważny przez 10 minut.</p>
    <p>Jeśli to nie Ty próbowałeś się zalogować, prosimy o niezwłoczne powiadomienie naszego zespołu wsparcia.</p>
</body>
</html>
